<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<FilesMatch "\.(js|css|png|jpg|jpeg|gif|mp3)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>